.leftBlog{
	@include left-format;
	background: $maincolor;
	color: white;
	@include wider-than(large){
		width: 100%;
		height: 35vh;
	}
	@include wider-than(medium){
		
	}
	@include wider-than(small){
		
	}
	.redTextLeft{
		@include emphasis-text;
		@include wider-than(large){
			width: 95%;
			margin-left: 2%;
			top: 59%;
		}
		@include wider-than(medium){
		
		}
		@include wider-than(small){
			h2{
				font-size: 1.8em;
			}
			p{
				font-size: .9em;
			}
		}
	}
}

.rightBlog{
		@include right-format;
		@include wider-than(large){
			width: 100%;
			margin-top: 35vh;
			margin-left: 0;
		}
		@include wider-than(medium){
		
		}
		@include wider-than(small){
		
		}
		.container{
				footer{
					// new icon menu goes here
				}
			}
		.blogPosts{
			
			.content{
				@include span-columns(8);
				@include shift(2);

				.post{
					margin-bottom: 8%;
					footer{
						a{
							color: $maincolor;
							font-size: 12px;
						}
				}
			 	.entry-title{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 500;
			 		color: black;
			 		padding: 4%;
			 		padding-left: 0;
			 		padding-bottom: 1%;
			 		border-bottom: $maincolor 2px solid;
			 			a{
							color: black;
							
						}
			 	}
			 	.entry-content{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 300;
			 		line-height: 1.4em;
			 		margin-top: 1%;
			 	}

			}
		}	
	}
}
