

header {
		// width: 100%;
		position: fixed;
		z-index: 100;

	.leftHeader {
		width: 50vw;
		background: $maincolor;
		float: left;
		position: relative;
		@include wider-than(large){
			width: 100%;
		}
		.redTriangle{
			@include cssTriangle;
			top: 100%;
			right: 20%;
			@include wider-than(large){
				display:none;
			}
			@include wider-than(medium){
				display: none;
			}
		}

		.navLogo {
			font-family: lato;
			display: inline;
			text-transform: uppercase;
			img{
				max-width: 75px;
			}
		}

		ul.menu {
				
			text-align: right;
			padding: 0px;
			margin-right: 2%;
			letter-spacing: 1px;
			font-weight: 300;
			font-size: 18px;
			float: right;

			li {
				display: inline;
				@include hoverUnderlineWhite;
				a {
					margin: 10px;
					color: white;

				}
			}
		}	
	}

	.rightHeader{
		background: white;
		width: 50vw;
		float: left;
		@include wider-than(medium){
			width: 40vw;
		}
		//social icon 
		.socials{
			margin-top: 2.5%;
			@include wider-than(large){
				margin-top:0;
			}
			.socialIcons {
				text-align: right;
				padding-right: 3.5%;
				color: black;
				width: 100%;
				@include wider-than(large){
					//fix later 
					display: none;
				}
				button{
					font-size: 14px;
					background: none;
					border: none;
					@include wider-than(medium){
						display: block;
					}
				}

				.fa{
					padding: 1%;
					margin-left: 2%;
					font-size: 18px;
					
				}
				.fa:hover{
					background: $maincolor;
					color: white;	
					transition: all .5s ease-in-out;
				}

				.contactForm{
					display: none;
					font-size: .8rem;
					border: none;
					:nth-child(5){
						width: 100%;
					}

					.wpcf7-form-control{
						width: 100%;
						border: none;
						border-bottom: $maincolor 1px solid;
					}

					.wpcf7-textarea{
						height: 5vh;
						width: 95%;
					}

					p{
						text-align: left;
						float: left;
						width: 45%;
						margin-left: 2%;
					}

					.wpcf7-submit{
						border: $maincolor 2px solid;
						background:$maincolor;
						color: white;
						width: 35%;
						padding: 2%;
						margin-top: 1%;
						font-weight: bold;
					}
				}
			}
		}
	}	
}





