

header {
		// width: 100%;
		position: fixed;
		z-index: 100;
	.leftHeader {

		width: 50vw;
		background: $maincolor;
		float: left;
		position: relative;

		.redTriangle{
			@include cssTriangle;
			top: 100%;
			right: 20%;
		}

		.navLogo {
			font-family: lato;
			display: inline;
			text-transform: uppercase;
			img{
				max-width: 75px;
			}
		}

		ul.menu {
				
			text-align: right;
			padding: 0px;
			margin-right: 2%;
			letter-spacing: 1px;
			font-weight: 300;
			font-size: 18px;
			float: right;

			li {
				display: inline;
				
				a {
					margin: 10px;
					color: white;
				}
			}
		}	
	}

	.rightHeader{
		background: white;
		width: 50vw;
		float: left;
		//social icon 
		.socials{
			margin-top: 2.5%;

			.socialIcons {
				text-align: right;
				padding-right: 3.5%;
				color: black;
				width: 100%;
				button{

				}

				.contactForm{
					display: none;
					font-size: .7rem;
					border: none;
					:nth-child(5){
						width: 100%;
					}

					.wpcf7-form-control{
						width: 100%;
						border: none;
						border-bottom: $maincolor 2px solid;
					}

					.wpcf7-textarea{
						height: 5vh;
						width: 95%;
					}

					p{
						text-align: left;
						float: left;
						width: 45%;
						margin-left: 2%;
					}

					.wpcf7-submit{
						border: none;
						border-bottom: $maincolor 2px solid;
						background:none;
						width: 35%;
						padding: 2%;
						font-weight: bold;
					}

				}

				//dropdown for contact form

				button{
					font-size: 14px;
					background: none;
					border: none;
				}
				.fa{

					margin-left: 2%;
					font-size: 18px;
				}
			}
		}

	}	


}

