// home page styles


.mainSection{

}

.leftSide{
	@include left-format;
	background: url(images/headshot_PAM_2562.jpg) no-repeat center;
	background-size: cover;
}
.rightSide{
	@include outer-container;
	@include right-format;
	
	.mainMessage{
		@include emphasis-text;
	}
	footer{
		position: fixed;
		z-index: 100;
		left: 0;
		bottom: 0;
		font-size: 10px;
		color: grey;
		margin: 1%;
		a{
			color: grey;
		}
	}
}
