// home page styles
.leftSide{
	@include left-format;
	background: url(images/headshot_PAM_2562.jpg) no-repeat center;
	background-size: cover;
	@include wider-than(large){
		
		display: none;
	}
}
.rightSide{

	@include outer-container;
	.container{
		footer{
			#footerIcons{
				display: none;
				position: relative;

				@include wider-than(large){
					display: block;
					button.contactMe{
						display: block;
						text-align: right;
					}

					.contactForm{
						position: absolute;
						bottom: 2.2em;
						background: white;
					}
				}
				@include wider-than(medium){
					button.contactMe{
						display: inline;
					}
				}
				@include wider-than(small){
					a{
						display: inline-flex;
						margin: 0 1%;	
					}
					
				}
			}
		}
	}
	@include right-format;
	@include wider-than(large){
		display: block;
		background: url(images/headshot_PAM_2562.jpg) no-repeat center;
		background-size: cover;
		margin-left: 0;
		width: 100%;
		height: 100vh;
		margin-top: 0;
		
	}
	.mainMessage{
		@include emphasis-text;

			@include wider-than(large){
				margin-left: 4%;
				width: 35%;
				top: 60%;
			}
			@include wider-than(medium){
				top: 110%;
				width: 100%;
				margin: 0;
				background: white;
			}
			@include wider-than(small){
				width: 100%;
				padding: 4%;
				margin: 0;
				top: 110%;
			}
		h2{
			@include wider-than(medium){
				font-size: 2em;
			}
		}
		p{
			@include wider-than(medium){
				font-size: .9em;
			}

		}

	}

	.photoCredit{
		position: fixed;
		z-index: 100;
		left: 0;
		bottom: 0;
		font-size: 10px;
		color: grey;
		margin: 1%;
		a{
			color: grey;
		}
		@include wider-than(medium){
			display: none;
		}
		@include wider-than(small){
			display: none;
		}	
	}
}
