//base styling for archived slash all posts

.leftPortfolio{
	@include left-format;
	background: none;
	background: $maincolor;
	color: white;
	.redTextLeft{
	@include emphasis-text;
		
	}
}

.rightPortfolio{
		@include right-format;
		.portfolioItems{
			.content{
				@include span-columns(9);
				@include shift(2);
				}
			 	.entry-title{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 500;
			 		color: white;
			 		margin-top: 2%;
			 		padding: 4%;
			 		padding-left: 0;
			 		padding-bottom: 1%;
			 		border-bottom: $maincolor 2px solid;
			 		position: relative;
			 		.redTriangle{
			 			@include cssTriangle;
			 			top: 100%;
						right: 0;
			 		}
			 			a{
							color: black;
						}
			 	}
			 	.entry-content{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 300;
			 		line-height: 1.4em;
			 	}
			 	.entry-utility{
			 		font-size: .8em;
			 		margin-top: 1%;
			 		a{
			 			color: white;
						background: $maincolor;
						border: $maincolor 2px solid;
			 		}
			 	}

			 	footer{
			 		position: fixed;
			 		right: 0;
			 		bottom: 0;
			 	}
		}
		
}
