//base styling for archived slash all posts

.leftPortfolio{
	@include left-format;
	background: none;
	background: $maincolor;
	color: white;
	@include wider-than(large){
		padding: 3%;
		display: block;
		width: 100%;
		height: 30vh;
		
	}
	.redTextLeft{
	@include emphasis-text;
		@include wider-than(large){
			float: none;
			width: 100%;
			margin: 0;
			transform: none;
			top: 21%;	
		}
		@include wider-than (small){
			top: 25%;
		}
		h2{
			margin-top: 2%;
			@include wider-than(small){
				font-size: 1.8em;
			}
		}
		p{
			@include wider-than(medium){
				font-size: .9em;
			}
			@include wider-than(small){
				display: none;
			}	
		}	
	}
}

.rightPortfolio{
		@include right-format;
		@include wider-than(large){
			width:100%;
			height: 100;
			margin-left: 0;
			margin-top:0;
		}
		.portfolioItems{
			.content{
				@include span-columns(10);
				@include shift(1);
				padding-bottom: 4%;
				.liveLink{
					font-size: 1.3em;
					display: block;
					margin-bottom: 1.2em;

				}
					@include wider-than(large){
						margin-top: 32vh;
					}
				}
			 	.entry-title{
			 		font-family: 'lato', sans-serif;
			 		font-weight: bold;
			 		letter-spacing: 1.5px;
			 		color: black;
			 		text-transform: uppercase;
			 		margin-top: 2%;
			 		padding: 4%;
			 		padding-left: 0;
			 		padding-bottom: 1%;
			 		border-bottom: $maincolor 2px solid;
			 		position: relative;
			 		.redTriangle{
			 			@include cssTriangle;
			 			top: 100%;
						right: 0;
			 		}
			 			a{
							color: black;
						}
			 	}
			 	.entry-content{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 300;
			 		line-height: 1.4em;
					background: #F7F7F7;
					a{
						color: black;
						border-bottom: 1px solid $maincolor;
						font-size: .8em;
					}
					a:hover{
						background: $maincolor;
						color: white;	
						transition: all .5s ease-in-out;
						}
			 	}
			 	.entry-utility{
			 		font-size: .8em;
			 		margin-top: 1%;

			 		a{
			 			color: black;
			 			padding: 1%;
			 			border: 1px dashed $maincolor;
			 			background: #F7F7F7;
			 			margin-bottom: 2%;
			 			text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 1px;
						line-height: 2.5em;
			 		}.permalink{
			 					border: 1px dotted black;
			 					background: none;
			 				}
			 		a:hover{
			 			background: $maincolor;
			 			text-transform: uppercase;
			 			color: white;	
			 			border: 1px dashed white;
			 			transition: all .5s ease-in-out;
			 			}
			 	}
		}
		.container{
				@include hiddenBottomFooter;
		}
		
}
