//ONE PORTFOLIO ITEM

.leftSingle{
	@include left-format;
	background: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	@include wider-than(large){
		width: 100vw;
		height: 40vh;
		position: relative;
	}
	@include wider-than(medium){
				
	}
	@include wider-than(small){
		
	}
	.redTextLeft{
	@include emphasis-text;
		
	}
}

.rightSingle{
		@include right-format;
		.container{
				@include hiddenBottomFooter;
		}
		@include wider-than(large){
			margin-left: 0;
			width: 100%;
			margin-top: 40vh;
		}
		.portfolioItems
			.content{
				@include span-columns(8);
				@include shift(2);
				.liveLink{
					font-size: 1.2em;
					display: block;
					margin-bottom: 1.2em;
					a{
						font-size: 1.2em;
					}
				}
				a{
					color: black;
					font-size: 14px;
				}
				a:hover{
					background: $maincolor;
					color: white;	
					transition: all .5s ease-in-out;
					}
	
			 	.entry-title{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 500;
			 		color: black;
			 		padding: 4%;
			 		padding-left: 0;
			 		padding-bottom: 1%;
			 		border-bottom: $maincolor 2px solid;
			 			a{
							color: black;
						}
			 	}
			 	.entry-content{
			 		font-family: 'lato', sans-serif;
			 		font-weight: 300;
			 		line-height: 1.4em;
			 		margin-top: 1%;
			 	}
				.navigation{

					a{
						color: black;	
					}:hover{
					background: $maincolor;
					color: white;	
					transition: all .5s ease-in-out;
					}

					.nav-previous{
						display: inline;
					}
					.nav-next{
						display: inline;
						float: right;
					}
				}
			 	footer{
					
			 	}
			}
		}