.leftTag{
	@include left-format;
	background: $maincolor;
	color: white;
	@include wider-than(large){
		width: 100vw;
		height: 25vh;
	}
	@include wider-than(medium){
				
	}
	@include wider-than(small){
		
	}
	.redTextLeft{
		@include emphasis-text;
		@include wider-than(large){
			top: 70%;
		}
	}
}
.rightTag{
	@include right-format;
	.container{
		@include hiddenBottomFooter;
	}
	@include wider-than(large){
		margin-left: 0;
		width: 100%;
		margin-top: 27vh;
	}
	footer {

		.footer{
			
		}
	}


	.tagItems{
		.content{
			@include span-columns(9);
			@include shift(2);
			}
		 	.entry-title{
		 		font-family: 'lato', sans-serif;
		 		font-weight: 500;
		 		color: white;
		 		padding: 4%;
		 		padding-left: 0;
		 		padding-bottom: 1%;
		 		border-bottom: $maincolor 2px solid;
		 		position: relative;
		 		.redTriangle{
		 			@include cssTriangle;
		 			top: 100%;
					right: 0;
		 		}
		 			a{
						color: black;
					}
					a:hover{
					background: $maincolor;
					color: white;	
					transition: all .5s ease-in-out;
					}
		 	}
		 	.entry-content{
		 		font-family: 'lato', sans-serif;
		 		font-weight: 300;
		 		line-height: 1.4em;
		 	}
			footer{
				p:nth-child(1){
						a{
							color: white;
							background: $maincolor;
							border: $maincolor 2px solid;	
						}
			 			
			 		}
			}
		}

}
